# Common
REGION=ap-southeast-1
AZ1=ap-southeast-1a
AZ2=ap-southeast-1b
ENV_FILE=.env
VARIABLES_FILE=variables.env
AWS_ACCOUNT_ID=
AMI_EC2_DEFAULT_USER="ec2-user"
EC2_AMI_ID="ami-06661384e66f2da0e"
EC2_PURCHASE_OPTION="spot"

# Networking Names
VPC_NAME="authify-vpc"
IGW_NAME="authify-igw"
PUBLIC_SUBNET_AZ1_NAME="authify-public-az1"
PUBLIC_SUBNET_AZ2_NAME="authify-public-az2"
PRIVATE_SUBNET_AZ1_NAME="authify-private-app-az1"
PRIVATE_SUBNET_AZ2_NAME="authify-private-app-az2"
PRIVATE_RDS_SUBNET_AZ1_NAME="authify-private-rds-az1"
PRIVATE_RDS_SUBNET_AZ2_NAME="authify-private-rds-az2"
PUBLIC_RTB_NAME="authify-public-rt"
PRIVATE_RTB_AZ1_NAME="authify-private-rt-az1"
PRIVATE_RTB_AZ2_NAME="authify-private-rt-az2"
NAT_GATEWAY_NAME_AZ1="authify-nat-az1"
NAT_GATEWAY_NAME_AZ2="authify-nat-az2"

# Networking CIDRs
VPC_CIDR="10.0.0.0/16"
PUBLIC_SUBNET_AZ1_CIDR="10.0.1.0/24"
PUBLIC_SUBNET_AZ2_CIDR="10.0.2.0/24"
PRIVATE_SUBNET_AZ1_CIDR="10.0.3.0/24"
PRIVATE_SUBNET_AZ2_CIDR="10.0.4.0/24"
PRIVATE_RDS_SUBNET_AZ1_CIDR="10.0.5.0/24"
PRIVATE_RDS_SUBNET_AZ2_CIDR="10.0.6.0/24"

# RDS
MASTER_USERNAME="authifymaster"
MASTER_PASSWORD=
AUTHIFY_USER="authifyuser"
AUTHIFY_USER_PASSWORD=
DB_NAME="authify_users_db"
DB_SUBNET_GROUP_NAME="rds-subnet-group"
DB_PARAMETER_GROUP_NAME="authentication-ec2"
DB_PARAMETER_GROUP_FAMILY="postgres14"
RDS_INSTANCE_IDENTIFIER="authify"
RDS_SG_NAME="authify-rds-sg"
RDS_MULTI_AZ=false
RDS_BACKUP_RETENTION_DAYS=0
RDS_STORAGE_TYPE="gp2"
DB_INSTANCE_CLASS="db.t3.micro"
ENGINE="postgres"
DB_ENGINE_VERSION=14
ALLOCATED_STORAGE=5

# ECR
ECR_AUTHIFY_REPOSITORY=authify-repository
DOCKER_AUTHIFY_API_GATEWAY_IMAGE=authify-api-gateway-image
DOCKER_AUTHIFY_API_GATEWAY_IMAGE_TAG="api-gateway-v1.0.0"
DOCKER_AUTHIFY_USER_SERVICE_IMAGE=authify-user-service-image
DOCKER_AUTHIFY_USER_SERVICE_IMAGE_TAG="user-service-v1.0.0"

# S3
AUTHIFY_S3_SCHEMA_BUCKET="authify-schema"
AUTHIFY_S3_PEM_BUCKET="authify-pem"
USER_SERVICE_SCHEMA_DIR="../../user-service/schema/users.sql"

# ElastiCache
ELASTICACHE_CLUSTER_ID="authify-redis"
ELASTICACHE_SUBNET_GROUP_NAME="authify-redis-subnet-group"
ELASTICACHE_ENGINE="redis"
ELASTICACHE_NODE_TYPE="cache.t3.micro"
ELASTICACHE_PASSWORD=""
ELASTICACHE_SG_NAME="authify-elasticache-sg"

# Ports
PORT_API_GATEWAY=8080
PORT_USER_SERVICE=50051
PORT_POSTGRESQL=5432

# IAM
EC2_ROLE_NAME=EC2-RDS-Access-Role
EC2_INSTANCE_PROFILE_NAME=EC2-RDS-Access-Role

# Security Groups
BASTION_SG_NAME="authify-bastion-sg"
ALB_SG_NAME="authify-alb-sg"
API_GATEWAY_SG_NAME="authify-api-gateway-sg"
USER_SERVICE_SG_NAME="authify-user-service-sg"

# EC2 Instances
API_GATEWAY_INSTANCE_TYPE="t3.micro"
USER_SERVICE_INSTANCE_TYPE="t3.micro"
BASTION_INSTANCE_TYPE="t3.nano"
API_GATEWAY_INSTANCE_NAME_AZ1="authify-api-gateway-az1"
API_GATEWAY_INSTANCE_NAME_AZ2="authify-api-gateway-az2"
USER_SERVICE_INSTANCE_NAME_AZ1="authify-user-service-az1"
USER_SERVICE_INSTANCE_NAME_AZ2="authify-user-service-az2"
BASTION_INSTANCE_NAME_AZ1="authify-bastion-az1"
BASTION_INSTANCE_NAME_AZ2="authify-bastion-az2"

# EC2 SSH keys
EC2_BASTION_HOST_KEY_NAME_AZ1="authify-bastion-host-key-az1"
EC2_BASTION_HOST_KEY_NAME_AZ2="authify-bastion-host-key-az2"
EC2_API_GATEWAY_KEY_NAME_AZ1="authify-api-gateway-key-az1"
EC2_API_GATEWAY_KEY_NAME_AZ2="authify-api-gateway-key-az2"
EC2_USER_SERVICE_KEY_NAME_AZ1="authify-user-service-key-az1"
EC2_USER_SERVICE_KEY_NAME_AZ2="authify-user-service-key-az2"

# ALB
ALB_NAME="authify-alb"
ALB_TARGET_GROUP_NAME="authify-api-gateway-tg"
ALB_HEALTHCHECK_PATH="/health/liveness"

# Auth
AUTH_JWT_TOKEN_SECRET=
AUTH_JWT_TOKEN_DOMAIN="localhost"
