.DS_Store

# AWS CLI runtime state
/startup/awscli/.env
/startup/awscli/variables.env
/startup/awscli/*.pem

# Terraform local state
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
/startup/terraform/modules/ec2/.ssh/
